:root{

    --primary-color: #FF9998;
    --secondary-color-1: #545170;
    --secondary-color-2: #FEFEFC;
    --secondary-color-3: #0066FF;
    --secondary-color-4: #000000;
    --global-font: 'Knewave', cursive;
}